<div>
  <form #todoForm="ngForm" (ngSubmit)="submitTask()" class="form">
    <h2 class="subtitle">Add Another Task</h2>
    <mat-form-field appearance="fill">
      <mat-label>Task</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        id="task"
        name="task"
        placeholder="Enter your task..."
        [(ngModel)]="formTodo.task"
        required
      />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</div>
